.search-btn button {
    background: linear-gradient(45deg, #67B6F5, #77A5F8);
}

.search-result {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}


.search-item {
    height: 55px;

    background: rgba(255, 255, 255, 0.5);
    margin: 10px 20px;

    padding: 10px 10px 10px 20px;
    border-radius: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: 14px;

    padding: 7px;
    border-radius: 7px;

    background: #fff;
}

.add-section button {
    width: 25px;
    height: 25px;
    background: linear-gradient(125deg, #91CAF7, #8DB1F1);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.add-section button:hover {
    opacity: 0.7;
}

.add-section select {
    margin: 0 15px;
    border: 0;
    background: rgba(225,225,225,0.5);
    border-radius: 3px;
    padding: 4px;
}

.search-field {
    display: flex;
    justify-content: center;
}

.search-field .select-div {
    background: linear-gradient(125deg, #91CAF7, #8DB1F1);
    margin: 0 10px;
    border-radius: 5px;
    padding: 3px;
}

.search-field .select-div select {
    height: 100%;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;

    outline: none;

    font-family: Hei, serif;
    font-weight: 600;
}

.search-field input {
    width: 50%;

    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    outline: 0;

    font-size: 16px;
}

.search-field button {
    width: 50px;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(125deg, #91CAF7, #8DB1F1);
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.search-field button:hover {
    opacity: 0.7;
}

.hd {
    display: none;
}

.error-section {
    background: rgba(255, 255, 255, 0.5);
    margin: 20px;
    padding: 40px;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}